.white{
	display: inline-block;
	height: 60px;
	width: 60px;
	background-color: white;
}

.black{
	display: inline-block;
	height: 60px;
	width: 60px;
	background-color: black;
}

.red{
	display: inline-block;
	height: 60px;
	width: 60px;
	background-color: red;
}

.line{
	height: 60px;
}

#board{
	display: inline-block;
	border-width: 1px;
	border-color: black;
	border-style: solid;
}